/* 
Dark/Mixed - 100: #121212 For body background color

Dark/Mixed - 200: #282828 For cards background color

Dark/Mixed - 300: #3f3f3f For chips buttons, dropdowns background color

Dark/Mixed - 400: #575757 For sidebars, navbar background color

Dark/Mixed - 500: #717171 For modal, dialogs background color

Dark/Mixed - 600: #8b8b8b For on background texts color

https://colorffy.com/dark-theme-generator
*/

@import url("sidebarnav.css");
@import url("visibility.css");

html,body {
    margin: 0;
}

body {
    background-color: #121212;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    width: 100%;
    height: 1rem;
    margin-top: auto;
    font-size: 1rem;
    text-align: center;
    background-color: #a688fa;
    color: #211938;
}