/* 
Dark/Mixed - 100: #121212 For body background color

Dark/Mixed - 200: #282828 For cards background color

Dark/Mixed - 300: #3f3f3f For chips buttons, dropdowns background color

Dark/Mixed - 400: #575757 For sidebars, navbar background color

Dark/Mixed - 500: #717171 For modal, dialogs background color

Dark/Mixed - 600: #8b8b8b For on background texts color

https://colorffy.com/dark-theme-generator
*/

@import url("sidebarnav.css");
@import url("visibility.css");

* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    size: 100% 100%;
}

main {
    width: auto;
    height: auto;
}

.center {
    padding-left: 15%;
    text-align: center;
    vertical-align: bottom;
}

footer {
    position: absolute;
    bottom: 0;
    width: auto;
    margin-left: 50%;
    text-align: center;
}

#errorlabel {
    color: white; 
    background-color: #717171; 
    padding: 15px;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
}

form {
    display: flexbox;
    background-color: #282828;
    border-radius: 2%;
    height: 40%;
    width: 40%;
    position: static;
    margin-left: 25%;
    margin-top: 10%;
    padding: 1% 1%;
}

form input {
    color: white;
    background-color: #717171;
    width: 80%;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    border: 0px;
    margin: 8px 0;
}

form input:hover {
    border-bottom: 5px solid #ba9ffb;
    border-radius: 8px;
}

button {
    padding: 15px 15%;
    border-radius: 5px;
    background-color: #a688fa;
    color: #211938;
    border: none;
    font-weight: bold;
}
button:hover{
    opacity: 0.8;
}