.sidebarNav {
    display: flex;
    flex-direction: column;
    width: 15rem; /* X-axis size */
    border-radius: 1rem;  /* Corner radius of region */
    background-color: #3f3f3f;  /* Color */
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
    height: 100vh;
    list-style-type: none;
}

.sidebarNav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
}

.sidebarNav a.active{ 
    background-color: #a688fa;
    color: #211938;
    border-radius: 5px;
}