<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Practice site</title>
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" /> <!--main.css-->>
</head>
<body>
  <nav class="sidebarNav"></nav>

  <main class="center">
    <form id="addQuestionForm" method="post" autocomplete="off">
      <label>Pick Category</label><br>
      <select id = "categoryList" name="category" required autocomplete="off"><option disabled selected></option></select>
      <br>

      <label>Question</label><br>
      <input type="text" id="questionInput" name="question" required></input>
      <br>

      <label>Answer</label><br>
      <input type="text" id="answerInput" name="answer" required></input><br>
      <div id="errorlabel" hidden>Invalid credentials</div>
      <button type="submit">Submit</button>

    </form>
  </main>

  <script type=module src="{{url_for('static', filename='js/addQuestion.js')}}"></script>
</body>

</html>