<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Practice site</title>
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="topbar">
    <a href="/getQuestion">Get Question</a>
    <a href="/addQuestion" class="active">Add Question</a>
    <a href="/development">Development</a>
  </div>

  <main>
    <form id="addQuestionForm" method="post">
      <label>Pick Category</label><br>
      <select id = "categoryList" name="category" required autocomplete="off"><option disabled selected></option></select>
      <br>

      <label>Question</label><br>
      <input type="text" id="questionInput" name="question" required></input>
      <br>

      <label>Answer</label><br>
      <input type="text" id="answerInput" name="answer" required></input><br>
      <button type="submit">Submit</button>

    </form>
  </main>

  <script type=text/javascript src="{{url_for('static', filename='addQuestion.js')}}"></script>
</body>

</html>