<!doctype html>
<html id="html">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Practice site</title>
  <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="sidebarNav"></nav>

  <main class="center" style="margin-left:25%;padding:1px 16px">
    <form autocomplete="off" id="login" action="/user/login" method="post">
      <h1>Login</h1>
      <label for="Username"><b>Username:</b></label><br>
      <input type="text" name="Username" placeholder="Enter username" required><br>
      <br>
      <label for="Password"><b>Password:</b></label><br>
      <input type="password" name="Password" placeholder="Enter password" required readonly onfocus="this.removeAttribute('readonly');"><br>
      <br>
      <div id="errorlabel" hidden>Invalid credentials</div>
      <button type="submit">Login</button>
    </form> 
  </main>
  
  <script type=module src="{{url_for('static', filename='js/login.js')}}"></script>
</body>

</html>